/* Menu Bar Background Color */
.moveToRight {
  display: flex;
  justify-content: space-between; /* This pushes the content to the left and right */
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: rgba(253, 251, 251, 0.959);
}

/* Logo positioning on the left */
.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align logo to the left */
  flex: 1; /* Ensure logo takes its own space */
}

/* Default logo styling for desktop */
.logo {
  width: 400px;
  height: 100px;
  object-fit: contain;
  transition: all 0.3s ease-in-out;
}

/* Adjust logo for mobile view */
@media (max-width: 768px) {
  .logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
}

/* Navbar items on the right */
.navbar-nav {
  display: flex;
  justify-content: flex-end; /* Align navbar items to the right */
  flex: 1; /* Allow navbar items to take up available space */
}
