.OurFleetHeader {
    text-align: justify;
    display: flex;           /* Enables flexbox layout */
    align-items: center;     /* Centers items vertically */
    justify-content: center; /* Centers items horizontally */
    height: 200px;           /* Add height to properly center the content */
}

