/* Ensure that background color of the navbar is applied */
.navbar.bgColor {
  background-color: rgba(8, 16, 85, 0.911) !important;
  height: 100px; /* Adjusted height */
  display: flex;
  align-items: center;
  color: white;
}

/* Styling for social icons */
.social-icon img {
  max-width: 30px;
  max-height: 30px;
}

@media (max-width: 576px) {
  .social-icon {
    margin: 0 5px;
  }
}
